* {
  margin: 0;
  padding: 0;
}

.wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 90%;
}

.word_cloud_area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60%;
  /* background-color: rgb(0, 119, 255); */
}

.rightarea {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  /* background-color: rgb(255, 84, 84); */
}

.word_cloud_area img {
  width: 100%;
  height: auto;
}

.word_cloud {
  background-color: #ffb144;
  height: 100%;
  width: 100%;
}

.job_dropdown {
  width: 80%;
  height: 30px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  background-color: #ffc146;
  color: white;
}

.salary,
.requirement {
  background-color: #f4eee2;
  width: 80%;
  height: 33%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 26px;
}

.content {
  width: 100%;
  height: 85%;
  display: flex;

}

.requirement .content {
  flex-direction: column;
}

.salaryLeft,
.salaryRight {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.salarycolumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.seniority {
  font-size: 20px;
  text-align: right;
}

.link {
  background-color: #ffb144;
  color: #fff;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.links {
  display: flex;
  flex-wrap: wrap;
  height: 50%;
}

.skill,
.licence {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.job_dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  position: relative;
}

.dropdownButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 50%;
  height: 40px;
  padding: 10px;
  background-color: #fdaa03;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.dropdownContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: #f4eee2;
  top: 100%;
  left: 0;
  width: 100%;
  height: 500%;
}

.dropdownContent input {
  width: 80%;
  height: 20px;
  font-size: 20px;
  border: none;
  margin: 2px;
}


.dropdownMenu {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  background-color: #f4eee2;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;

  overflow-y: scroll;
}

.dropdownMenu::-webkit-scrollbar {
  width: 12px;
}

.dropdownMenu::-webkit-scrollbar-track {
  background: #f4eee2;
  border-radius: 10px;
}

.dropdownMenu::-webkit-scrollbar-thumb {
  background-color: #d5ad8a;
  border-radius: 10px;
  border: 3px solid #f4eee2;
}

.dropdownMenu::-webkit-scrollbar-thumb:hover {
  background-color: #b89471;
}

.dropdownItem {
  padding: 10px;
  color: black;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.dropdownItem:last-child {
  border-bottom: none;
}

.dropdownItem:hover {
  background-color: #ffc146;
  color: white;
}