/* 課程外框樣式 */
.content {
  background-color: #fff;
  border-radius: 15px;
  font-size: 18px;
  /* 調整字體大小為18px，保持內容易讀 */
  margin: 20px 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  /* 添加陰影以突出每個課程框 */
}

/* 課程標題樣式 */
.title {
  color: #745329;
  font-size: 30px;
  /* 調整字體大小 */
  font-weight: bold;
  margin-bottom: 10px;
}

.duration {
  display: flex;
  align-items: center;
}

.duration img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.duration p {
  color: #d6a41a;
  font-size: 24px;
}

.search {
  width: 500px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 25px;
  right: 40px;
}

.search input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.searchbtn {
  margin-left: 8px;
}

.searchbtn img {
  width: 20px;
  height: 20px;
}

.searchnum {
  font-size: 20px;
  position: absolute;
  top: 35px;
  left: 40px;
}

.notfound {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.notfound p {
  font-size: 30px;
}