/* 課程外框樣式 */
.content {
  background-color: #fff;
  border-radius: 15px;
  font-size: 18px;
  /* 調整字體大小為18px，保持內容易讀 */
  margin: 20px 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  /* 添加陰影以突出每個課程框 */
}

/* 課程標題樣式 */
.title {
  color: #745329;
  font-size: 30px;
  /* 調整字體大小 */
  font-weight: bold;
  margin-bottom: 10px;
}

/* 課程時間樣式 */
.time {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.time img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  /* 時間圖標與文字之間的間距 */
}

.time p {
  color: #bb7331;
  font-size: 20px;
}

/* "前往"按鈕樣式 */
.more {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #bb7331;
  /* 藍色按鈕 */
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
}

.more:hover {
  background-color: #745329;
  /* 按鈕懸停時的顏色 */
}

/* 課程簡介樣式 */
.intro {
  margin-top: 15px;
  color: #333;
  line-height: 1.6;
  font-size: 18px;
  /* 調整字體大小 */
  white-space: pre-wrap;
  /* 保留文字中的換行符號 */
}

/* 地址樣式 */
.address {
  margin-top: 8px;
  font-size: 18px;
  color: #555;
  line-height: 1.5;
}

.search {
  width: 500px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 25px;
  right: 40px;
}

.search input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.searchbtn {
  margin-left: 8px;
  border: none;
  cursor: pointer;
}

.searchbtn img {
  width: 20px;
  height: 20px;
}

.searchnum {
  font-size: 20px;
  position: absolute;
  top: 35px;
  left: 40px;
}

.notfound {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.notfound p {
  font-size: 30px;
}