.wrap {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  border-radius: 10px;
  position: relative;
}

.wrap p {
  width: 75%;
  font-size: 18px;
}

.question_text {
  width: 80%;
  height: 60px;
  font-size: 24px;
  margin-bottom: 20px;
}

.counter {
  font-size: 28px;
  position: absolute;
  top: 0px;
  left: 40px;
}

.previousbtn {
  position: absolute;
  bottom: 40px;
  left: 40px;
}

.nextbtn,
.previousbtn,
.sendoutbtn {
  white-space: nowrap;
  height: 5%;
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #ffb144;
  font-size: 28px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 2%;
  right: 2%;
  transition: background-color 0.3s ease;
}

.nextbtn:hover,
.sendoutbtn:hover,
.previousbtn:hover {
  background-color: #ffdb9c;
  cursor: pointer;
}

.disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.disabled:hover {
  background-color: #919191;
  cursor: not-allowed;
}

.targetContainer {
  width: 75%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.likerow,
.dislikerow {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sourceContainer {
  /* background-color: #ffdb9c; */
  border-radius: 20px;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
  height: 40%;
  flex-wrap: wrap;
  /* margin-top: -140px; */
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.ans,
.opt {
  width: 25%;
  height: 75%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.opt {
  background-color: #ffb144;
  justify-content: space-evenly;
  text-align: center;
  /* border: 5px #ff9500 solid; */
  cursor: grab;
  height: 25%;
  width: 20%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.ans {
  margin-left: 20px;
  margin-right: 20px;
  /* border: 5px #b7a889 solid; */
  background-image: url('../../images/thumb3.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #f4eee2;
  cursor: pointer;
  box-shadow: inset 0 0 20px 1px rgb(206, 206, 206);
}

.ans:nth-of-type(3n+2) {
  background-image: url('../../images/thumb2.png');
}

.ans:nth-of-type(3n) {
  background-image: url('../../images/thumb.png');
}

.dislike {
  transform: rotate(180deg);
}

.opt.selected {
  background-color: transparent;
  /* 背景設為透明 */
  border-color: transparent;
  /* 邊框設為透明 */
  opacity: 0;
  /* 完全透明 */
  pointer-events: none;
  /* 禁止點擊，避免選擇後再操作 */
}

.ans.filled {
  background-color: #ffb144;
  background-image: none;
  text-align: center;
  box-shadow: inset 0;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.dislike.filled {
  transform: rotate(0);
}

[draggable="true"] {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}