/* Forcast.module.css */

.wrap {
  background-color: #f4eee2;
  width: 75%;
  height: 85%;
  border-radius: 10px;
  position: relative;
}

.leftside {
  width: calc(55% - 30px);
  height: calc(100% - 30px);
  padding: 15px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.rightside {
  width: calc(45% - 80px);
  height: calc(100% - 80px);
  padding: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
}

.search {
  width: 65%;
  height: 40px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
}

input[type="search"] {
  width: calc(100% - 30px);
  height: 100%;
  border: none;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}

.searchbtn {
  width: 30px;
  height: 30px;
  display: flex;
}

.date {
  background-color: #ffe785;
  color: #fdfecb;
  font-size: 32px;
  width: 50%;
  height: 80px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-text-stroke: 2px #745329;
}

.type {
  background-color: #f6eab9;
  width: 45%;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-color: #fff;
  width: 90%;
  height: 350px;
  border-radius: 10px;
}

.content {
  background-color: #fff;
  width: calc(85% - 40px);
  height: calc(90% - 60px);
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed #745329;
}

.column:not(:first-of-type) a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.indicators {
  text-align: center;
}

.icon {
  background-color: #d5ad8a;
  width: 80px;
  height: 50px;
  border-radius: 10px;
  position: relative;
}

.icon img {
  height: 100%;
}