#loginpage {
  width: 450px;
  height: 300px;
  display: flex;
}

#registerpage {
  width: 550px;
  height: 500px;
  display: flex;
}

#infopage {
  width: 550px;
  height: 450px;
  display: flex;
}

#switch {
  width: 300px;
  height: 50px;
  display: flex;
}

#switch>* {
  background-color: #fdf1cb;
  font-size: 28px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#switch>:first-child {
  border-radius: 20px 0 0 20px;
}

#switch>:last-child {
  border-radius: 0 20px 20px 0;
}

#loginpage #switch>:first-child,
#registerpage #switch>:last-child {
  background-color: #d5ad8a;
  color: #fff;
  text-decoration: underline;
}



#info {
  background-color: #fdefcb;
  font-size: 28px;
  width: 50%;
  height: 60px;
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}


#submit {
  background-color: #d5ad8a;
  color: #fff;
  font-size: 20px;
  width: 350px;
  height: 50px;
  border-radius: 25px;
  border: none;
}

#input {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


.columns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.columns:last-of-type {
  justify-content: space-evenly;
}

#name,
#gender,
#birth,
#acc,
#phone,
#edu,
#address,
#pwd {
  width: 80%;
  position: relative;
}

.columns>* {
  display: flex;
  justify-content: center;
}

/* 模態背景層 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* 半透明黑色背景 */
  z-index: 999;
  /* 確保它在頁面上層 */
}

/* 設置彈出視窗為相對較高的 z-index，避免被背景遮擋 */
dialog {
  position: fixed;
  z-index: 1000;
  background-color: white;
  padding: 50px;
  border-radius: 8px;
}

input,
select {
  background-color: #fff;
  color: #745329;
  border: 1px solid #745329;
  border-radius: 10px;
  padding: 15px;

  &:focus {
    outline: none;
  }
}

input {
  width: calc(95% - 32px);
  height: 18px;
}

select {
  width: calc(95% - 2px);
  height: 48px;
}

.cancel-button {
  background-color: #dbc8b6;
  color: #fff;
  width: 25%;
  height: 40px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button {
  background-color: #d5ad8a;
  color: #fff;
  width: 25%;
  height: 40px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 調整列中的按鈕排版 */
.columns:last-of-type {
  justify-content: space-evenly;
}