html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  height: 5vh;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  overflow: hidden;
}

footer {
  height: 5vh;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.testsign {
  z-index: 0;
  color: rgba(247, 162, 5, 0.5);
  font-size: 24px;
  border: rgba(247, 162, 5, 0.5) solid 5px;
  border-radius: 10px;
  padding: 5px 10px;
  position: absolute;
  top: 100px;
  right: 40px;
}